# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
Testing/
CMakeFiles/
_deps/
tests/


#conan
*.json
*.cmake
*.bat

#visual studio
/out
/.vs